.outerBox {
  position: absolute;
  margin: 5px;
  width: 23em;
  color: var(--header-primary);
  border-radius: 0.3em;
  box-shadow: 0px 0px 6px 4px #161616;
  right: 1.25em;
  bottom: 1.25em;
  z-index: 99999;
}
.headerBar {
  background-color: var(--background-secondary);
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  flex: 3 0 auto;
}
.avatar {
  width: 3.2em;
  height: 3.2em;
  flex: 0 0 auto;
  position: unset;
}
.origin {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: var(--font-display);
  font-size: 18px;
  font-weight: 600;
  color: var(--text-normal);
}
.headerButtons {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.contentBody {
  background-color: var(--background-primary);
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  padding: 0.5em 0.5em 0 0.5em;
}
.content {
  padding: 0.5em 0.25em 0.5em 0.25em;
  max-height: 6em;
  height: auto;
  background-color: var(--input-background);
  overflow: auto;
  font-size: 16px;
  border-radius: 0.3em;
}
.footerBar {
  display: flex;
  padding: 0.5em 0.3em;
  justify-content: space-between;
}
.jumpButton {
  flex-basis: 17em;
  padding: 0.5em;
}
.closeAllButton {
  padding: 0.5em;
}
